<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="machine" value="\\192.168.2.71\cad" />
    <add key="user" value="LGSCHILE\analista2.pvs" />
    <add key="pass" value="Global*2017" />
    <add key="frontAKA" value="bc-" />
    <add key="backAKA" value="fc-" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=192.168.2.14;Initial Catalog=SIGM2_VER3; User Id= DESA;Password=P502316*;Connection Lifetime=5" />
    <add name="CADConString" connectionString="Data Source=192.168.2.58;Initial Catalog=DunbarProduccion; User Id= sa;Password=master;Connection Lifetime=5" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>