<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=192.168.2.14;Initial Catalog=SIGM2_VER3; User Id= DESA;Password=P502316*;Connection Lifetime=5" />
  </connectionStrings>
</configuration>